*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container{
    width: 800px;
    height: auto;
    background-color: saddlebrown;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.logo-section{
    width: 100%;
    background-color: skyblue;
    padding: 15px 0px;

}

.logo-section .logo{
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: bold;
}

.header-section{
    width: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .header-section .header-actions{
    background-color: navajowhite;
    height: 100%;
} */

.header-actions button{
    padding: 10px 20px;
    font-size: 1rem;
    border: 0;
    outline: 0;
    border-radius: 20px;
    background-color: khaki;
    margin-left: 10px;
    text-transform: capitalize;
    cursor: pointer;
}